/* FONTS */

@font-face {
    font-family: 'airbnbBk';
    src: url(fonts/AirbnbCerealBk.otf);
}


@font-face {
    font-family: 'airbnbMd';
    src: url(fonts/AirbnbCerealMd.otf);
}



/*----------- MAIN -----------*/

body {
    max-width: 400px;
    font-family: 'airbnbBk';
    color: #222222;
    margin: 0;
    padding: 0;
}

p,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 18px;
    text-align: center;
    font-family: 'airbnbMd';
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-family: 'airbnbMd';
    font-size: 14px;
}

h3 {
    font-size: 15px;
    color: #717171;
    padding-top: 2px;
}

h4 {
    font-size: 12px;
    color: #717171;
}

li {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.punct {
    padding-right: 2px;
    padding-left: 2px;
}

hr {
    border-bottom: #222222 1px solid;
    width: 44px;
    margin: 0px;
    margin-left: 20px;
}

.bold {
    font-family: 'airbnbMd';
}

/*-----------HEADER SEARCHBOX-----------*/

.banner {
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-left: 24px;
    padding-right: 24px;
    /* ADD IN DROP SHADOW */
}

.searchContainer {
    display: grid;
    grid-template-columns: repeat(3);
    margin-top: 16px;
    gap: 6px;
}

.searchIcon {
    grid-column: 1;
    grid-row: 1;
    width: 54px;
    float: left;
    padding-top: 4px;
}

.searchText {
    grid-column: 2;
    grid-row: 1;
    width: 200px;
    padding-top: 8px;
}

.searchText h4 {
    padding-top: 2px;
}

.searchIcon li {
    text-align: center;
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    float: left;
}

.searchBarBorder {
    /* ADD IN DROP SHADOW */
    border-style: solid;
    border-color: #717171;
    border-width: 1px;
    border-radius: 25px;
    height: 54px;
    width: 300px;
}

/* -----------TOGGLE----------- */

.searchToggle {
    grid-column: 3;
    grid-row: 1;
    padding-top: 8px;
}

.toggle {
    border-style: solid;
    border-color: #717171;
    border-width: 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
}

.toggle li {
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

/* -----------HEADER PLACE TYPES----------- */

.placeTypes {
    display: grid;
    grid-template-columns: 5;
    width: 352px;
    padding-top: 12px;
    font-size: 12px;
    color: #717171;
    text-align: center;
}

.placeTypes img {
    width: 24px;
}

.placeTypes p {
    padding-bottom: 8pxß;
}

.selected {
    color: #222222;
    font-family: 'airbnbMd'
}

.place1 {
    grid-column: 1;
    grid-row: 1;
}

.place2 {
    grid-column: 2;
    grid-row: 1;
}

.place3 {
    grid-column: 3;
    grid-row: 1;
}

.place4 {
    grid-column: 4;
    grid-row: 1;
}

.place5 {
    grid-column: 5;
    grid-row: 1;
}

/* -----------LISTINGS----------- */

.listing {
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 24px;
}

.listing img {
    width: 352px;
    height: 352px;
    /* NOTE 26px is being added to this and i dont know why */
    border-radius: 16px;
    position: relative;
    z-index: -1;
}

.listing h2,
.price {
    font-size: 15px;
}

.star {
    display: inline;
    float: right;
    font-family: 'airbnbBk';
}

.price {
    text-decoration: underline;
    padding-top: 6px;
}



/* ICONS */

.fa-heart {
    color: #ffffff;
    position: relative;
    float: right;
    top: -338px;
    right: 30px;
    z-index: 1;
}

.dots {
    text-align: center;
    position: relative;
    bottom: 40px;
    left: -3px;
}

.dots span {
    margin-left: 3px;
}

.dot,
.wdot {
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.wdot {
    background-color: #fff;
}

.mdot {
    height: 5px;
    width: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.sdot {
    height: 4px;
    width: 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.fa-star {
    font-size: 8pt;
}

/* CONTINUE */

.continue {
    margin-top: 56px;
    margin-bottom: 56px;
    text-align: center;
}

button {
    margin-top: 16px;
    color: #ffffff;
    font-size: 16px;
    font-family: 'airbnbBk';
    background-color: #222222;
    width: 132px;
    height: 48px;
    border-radius: 8px;
    border-style: none;
}

/* LINKS */

.links {
background-color: #f7f7f7;
padding-top:48px;
padding-bottom:100px;
padding-right:24px;
padding-left:24px;
}

.titleLinks {
    list-style-type: none;
    overflow: hidden;
    padding:0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    /* padding-left: 24px;
    padding-right: 24px; */
}

.titleLinks li {
    float:left;
    display:block;
    font-size:14px;
    padding:10px;
    margin:6px 6px 6px 0px;
}

.selectedLink{
    border-bottom: #222222 2px solid;
    width: 44px;
    margin: 0px;
    margin-left: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto;
    padding-top:32px;
    padding-bottom:48px;
    column-gap: 10px;
    row-gap: 24px;
    border-bottom: #dddddd 1px solid;
  }

  .support,
  .hosting,
  .airbnb {
    border-bottom: #dddddd 1px solid;
    padding: 24px 0px;
  }

  .support ul,
  .hosting ul,
  .airbnb ul 
  {
    font-size:14px;
    font-family: 'airbnbMd';
    margin:0px 0px 14px 0px;
    padding: 0px;
  }

  .support li,
  .hosting li,
  .airbnb li
  {
    font-size:14px;
    font-family: 'airbnbBk';
    list-style-type: none;
    padding-bottom:12px;
    margin:0px;
    color:#222222;
  }

  .footer {
    padding: 18px 0px;
  }

  .footerBold {
    margin-bottom: 12px;
  }

  .footerCurrency {
    font-family: 'airbnbMd';
    font-size:14px;
}

  .footer li {
    font-size: 14px;
  }

  .footer p {
    font-size:14px;
    margin: 0px 0px 2px;
    padding-top:8px;
  }

